.each-slide-effect > div {
    display: flex;
    
    justify-content: center;
    background-size: cover;
    height: auto;
  }
  .each-slide-effect img{
    width: 100%;
    height: 500px;
  }
  
.resultarea{
  text-align: center;
  margin: 35px;
  padding: 25px;
}
.resultarea .heading{
  color:rgba(60, 199, 250, 0.914) ;
}
.resultarea .team h6{
  color: black;
  float: left;
  margin-left: 20px;
}
.resultarea .team{
  display: flex;
  flex-direction: row;
  justify-content: center;align-items: center;
  height: auto;
  width: auto;
  color: rgba(60, 199, 250, 0.914);  
}
.resultarea .result{
  display: flex;
  justify-content: space-between;
  width: 200px;
  color: rgba(60, 199, 250, 0.914);
  
  
}
.resultarea .team img{
  width: 350px;
  height: 315px;
  padding: 35px;
  padding-top: 0;

}


@media only screen and  (max-width: 393px){
  .resultarea{
    text-align: center;
    margin: 15px;
    padding: 15px;
  }
  .resultarea .result{
    display: flex;
    justify-content: space-between;
    width: 200px;
    color: rgba(60, 199, 250, 0.914);
    
    
  }
  .resultarea .team img{
    width: 150px;
    height: 115px;
    padding: 35px;
    padding-top: 0;
  }
  
}